<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>footer</title>
</head>

<th:block th:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Home page</h1>
                    <p>Usersupport Home Page Is Developing...</p>
                </div>
            </div>
        </div>
    </section>
</th:block>
</html>