<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title title="主页"></title>
    <th:block th:include="/base/common::links">
    </th:block>
    <style>
        .container {
            max-width: 75%;
        }
        .site-header {
            background-color: rgba(0, 0, 0, .85);
            -webkit-backdrop-filter: saturate(180%) blur(20px);
            backdrop-filter: saturate(180%) blur(20px);
        }
        .site-header a {
            color: #8e8e8e;
            transition: color .15s ease-in-out;
        }
        .site-header a:hover {
            color: #fff;
            text-decoration: none;
        }
    </style>

</head>
<body>
<header class="site-header sticky-top py-1">
    <nav class="container d-flex flex-column flex-md-row justify-content-between">
        <a class="py-2 d-none d-md-inline-block" th:href="@{/}">主页</a>
        <a class="py-2 d-none d-md-inline-block" th:href="@{/salary/index}">工资单</a>
        <a class="py-2 d-none d-md-inline-block" th:href="@{/contact}">联系我们</a>
        <a class="py-2 d-none d-md-inline-block" th:href="@{/about}">关于</a>
        <a class="py-2 d-none d-md-inline-block" th:href="@{/logout}">注销</a>
    </nav>
</header>
<!-- Content Section -->
<section layout:fragment="content">
    <th:block th:include="/base/common::svgs">
    </th:block>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" th:if="${warning !=null}">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:">
            <use xlink:href="#exclamation-triangle-fill"/>
        </svg>
        <strong th:text="${warning}"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${message !=null}">
        <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:">
            <use xlink:href="#check-circle-fill"/>
        </svg>
        <strong th:text="${message}"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div layout:fragment="content">
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1>Home page</h1>
                        <p>Usersupport Home Page Is Developing...</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<!-- Footer -->
<footer class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <p class="text-muted">&copy; 2021 上海航空工业（集团）有限公司. 用户支持BU-业务系统运营室.</p>
        </div>
    </div>
</footer>

<!-- Optional Section -->
<th:block layout:fragment="optional"/>

</body>
<script type="text/javascript">
    $(document).ready(function () {
        $(".alert-dismissible").fadeTo(2000, 500).slideUp(500, function () {
            $(".alert-dismissible").alert('close');
        });
    });
</script>
</html>