<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>header</title>
</head>
<th:block th:fragment="header">
    <header class="site-header sticky-top py-1">
        <nav class="container d-flex flex-column flex-md-row justify-content-between">
            <div th:each="roleMenu:${session.roleMenuList}">
                <a class="py-2 d-none d-md-inline-block" th:href="@{${roleMenu.menu.url}}"
                   th:text="${roleMenu.menu.name}"></a>
            </div>
        </nav>
    </header>
</th:block>
</html>